@charset "UTF-8";

/* 머릿글css */
.h1 {
	font-size: 250%; 
	font-weight: bold; 
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
	color: #666; 
	border-bottom: 2px solid #F7EEF8; 
	border-left: 10px solid #8152f0; 
	text-height:200%; 
	padding: 3px 5px; 
	margin: 5px 0; 
	letter-spacing: 1px; 
	word-spacing: 3px; 
	width: 75%;
	text-align: left;
	
}

/* 테이블css */
table.type08 {
	border-collapse: collapse;
	text-align: left;
	border-left: 0px solid #ccc;
	margin: 20px 10px;
}

table.type08 thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #c00;
	background: #8152f0;
}

/* table.type08 thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
} */

table.type08 tbody th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	background: #ececec;
}

/* table.type08 td {
	padding: 10px;
	vertical-align: top;
	border: 0px solid #ccc;
} */
table.type08 th.title {
	text-align: center;
}

table.type08 td.content {
	height : 100px;
}

textarea {
	height: 100%;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	width : 100%;
	background: #fff;
	border-radius: 3px;
	line-height: 2em;
	border: none;	
	-webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-ms-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
	resize: none;
}

table.type08 {
	border-collapse: collapse;
	text-align: left;
	margin : 10px;
}

table.type08 tbody th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 0px solid #ccc;	
	background: #F7EEF8;
}
.center{
	width : 70%;
	margin: auto;	
}

.input {
	height: 100%;
	width : 100%;
	border: 1px solid gray;	
	resize: none;
}

