@charset "UTF-8";


.pTitle{
 	font-weight: bold;
 	color: black;
 	font-size: large;
 }
 .pName{
 	color: gray;
 	font-size: small;
 }

/* 프로필사진 */
.profile {
	float: none;
	width: 44px;
	height: 44px;
	border-radius: 33px;
	margin: 5px;
	vertical-align: middle;
	object-fit: cover;
}

/*  */






/* 배너이미지 css는 부트스트렙 css에 속해 있음 */
 
 